body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", sans-serif;
    background: linear-gradient(135deg, #e9d5ff, #f3e8ff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #ffffffaa;
    backdrop-filter: blur(10px);
    padding: 40px 50px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 10px 30px #c3a2e5;
}

h1 {
    margin-bottom: 20px;
    color: #6a4cbc;
    font-weight: 700;
}

#timer {
    font-size: 80px;
    font-weight: bold;
    color: #5b21b6;
    margin-bottom: 25px;
}

.buttons button {
    padding: 12px 28px;
    margin: 10px;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s;
    color: white;
}

#startBtn {
    background-color: #7c3aed;
}
#pauseBtn {
    background-color: #a78bfa;
}
#resetBtn {
    background-color: #c4b5fd;
}

.buttons button:hover {
    opacity: 0.85;
}
